@import "tailwindcss";

:root {
    --font-primary: 'Fraunces', serif;
    --font-secondary: 'Schibsted Grotesk', sans-serif;
    --color-blue: #0b699c;
    --color-red: #e92026;
}

* {
    font-family: 'Schibsted Grotesk', sans-serif;
}
